.b-button {
	border-width: 4px;
	border-style: solid;
	border-color: #d3d6d3;
	border-radius: 1em;
	font-family: Arial;
	font-size: 1.7em;
	font-weight:bold;
	text-shadow: 0 -1px 3px #465018 ;
	color: #ffffff;
	padding: 0.3em 2em;
	box-shadow: inset 0 1px 1px #ccde84;
	width: initial;
	height:initial;
	
	 /* Gradient Background */
	background: #282321; /* Old browsers */
    background: -moz-linear-gradient(top, #a4b553 0%, #768c19 99%, #768c19 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b553), color-stop(99%,#768c19), color-stop(100%,#768c19)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a4b553 0%,#768c19 99%,#768c19 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a4b553 0%,#768c19 99%,#768c19 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #a4b553 0%,#768c19 99%,#768c19 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b553', endColorstr='#768c19',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #a4b553 0%,#768c19 99%,#768c19 100%); /* W3C */

	/* Box Shadows */
    -webkit-box-shadow: inset 0 1px 0 #9aac4f,
     			inset 0 -1px 0 #56650f,
                inset 0 2px 0 #d6e68f,
                inset 0 -2px 0 #7f981b;
    -moz-box-shadow: inset 0 1px 0 #9aac4f,
     			inset 0 -1px 0 #56650f,
                inset 0 2px 0 #d6e68f,
                inset 0 -2px 0 #7f981b;
    box-shadow: inset 0 1px 0 #9aac4f,
     			inset 0 -1px 0 #56650f,
                inset 0 2px 0 #d6e68f,
                inset 0 -2px 0 #7f981b;
                       
                
    /* Transition Effect */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.b-button:hover {
border-color: #b4b7b5;
  /* Transition Effect */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
