/* =Main Styles
__________________________________*/
@import url(../../../global/css/layout.css);

/* =User Styles
__________________________________*/

.b-task-result{
font-family: Arial;
margin-top: 7em;
margin-bottom: 3em;
position: relative;
max-width: 100%;
}

.big-letter{
display: inline-block;
z-index:1;
padding:0;
position: relative;
font-size: 18em;
color:black;
}

.big-breaket{
display: inline-block;
padding:0;
position: relative;
font-size: 18em;
color:black;
z-index:3;
top: -0.06em;
left: -0.38em;
}


.txt{
z-index:2;
left: -1.4em;
display: inline-block;
margin-top: -5.2em;
color: black;
font-size: 1.2em;
vertical-align: top;
width:24%;
padding:0;
position: relative;

}

.txt p{
-webkit-margin-before: 0px;
-webkit-margin-after:  0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
margin-left: 0px;
}

#n1 {
text-indent: -1.8em;
}

#n2 {
text-indent: -1.2em;
}

#n3 {
text-indent: -0.7em;
}

#n4 {
text-indent: -0.3em;
}

#n5 {
text-indent: 0.4em;
}

#n6 {
text-indent: 0.9em;
}

#n7 {
text-indent: 1.4em;
}


