body{
margin: 20px;
}

.b-task{
	font-family: Arial;
	font-size: 15px;
	background-color: rgba(204, 204, 204, 0.9);
    overflow: auto;
	position: relative;
	padding-bottom: 100%;
	width:100%;
	margin-bottom: 5em;;
}


.b-task-result{
	padding:10px;
    position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
  	width: 100%;
  
}

