html{
	min-width: 1000px;
}

.content{
	padding-left:0;
	font-family: Arial;
	font-color: #121953;
	display: inline-block;
	background: #deffef;
	width: 300px;
	height: 100%;
	margin: 20px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
}

form{
	margin-left: 5px;
	margin-top: 20px;
	width: 200px;
	margin-left: 65px;
}

.random_box{
	vertical-align: top;
	display: inline-block;
	background: #ffeece;
	min-width: 200px;
	width:60%;
	height: 60%;
	margin-top: 20px;
}