@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,300italic,700,800&subset=latin,cyrillic");


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

body {
    background: #fff;
    font-family: 'Open Sans', 'PT Sans', Helvetica, Arial, sans-serif
}

body * {
    -webkit-font-smoothing: antialiased
}

a {
    color: #c93844;
    text-decoration: none !important;
    -webkit-transition: color ease-out .3s;
    transition: color ease-out .3s
}

a:hover {
    color: #333;
    -webkit-transition: color 0;
    transition: color 0s
}

button {
    cursor: pointer
}

h2 {
    font-size: 36px;
    font-weight: 300
}

h3 {
    font-size: 24px;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px
}

h4 {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px
}

@media screen and (max-width:1350px) {
    .navmenu--category_link {
        padding-left: 10px !important
    }
}

.nav {
    position: relative;
    z-index: 10;
    display: block;
    height: 60px;
    margin: 0 auto
}

.navmenu--category:first-child>.navmenu--list {
    position: relative;
    width: auto
}

.navmenu--category {
    display: block;
    height: 100%;
    position: relative;
    float: left;
    z-index: 4
}

.navmenu--category:after {
    display: block;
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 7px;
    height: 4px;
    background: url("../images/header_menu_inactive.png") no-repeat
}

.navmenu--category_link {
    font-size: 15px;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 25px 22px 20px;
    text-decoration: none;
    color: #c52935;
    border-right: 1px solid #f8f8f8
}

.navmenu--category:first-child {
    border-left: 1px solid #f8f8f8
}

.navmenu--category:hover>.navmenu--list {
/*     opacity: 1 !important; */
    left: 0 !important
}

.navmenu--category:hover.navmenu--category:after {
    background: url("../images/header_menu_active.png") no-repeat
}

.navmenu--category:nth-child(4):after {
    display: none;
    background: 0 0
}

.navmenu--list {
    position: absolute;
    z-index: 5;
    left: -9999px;
    min-width: 100%;
    max-width: 350px;
  /*   opacity: 0; */
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.navmenu--list:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    z-index: -1
}

.navmenu--list.st-opened {
    opacity: 1;
    left: 0;
    height: 504px;
    background-color: #fff
}

.navmenu--list_item {
    display: block;
    position: relative;
    float: none
}

.navmenu--list_item:hover .navmenu--list {
    white-space: nowrap;
    top: 0;
    left: 100%;
    opacity: 1
}

.navmenu--list_item>a {
    font-family: Open Sans;
    font-size: 14px;
    color: #c52935;
    text-decoration: none;
    background: #fff;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 20px;
    z-index: 3
}

.navmenu--list_item:hover>a {
    color: #fff;
    background: #c52935
}

.navmenu--list_item > li > a.maintainHover{
    color: #fff;
    background: #c52935
}

.navmenu--list_item:hover .popover {
/*  left: 100%; */
/* pointer-events: all */
}

.navmenu--list_item:first-child .submenu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1)inset, 10px 5px 20px rgba(0, 0, 0, .2)
}

.navmenu--list_item:first-child>a:before {
    display: inline-block;
    content: '';
    min-width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    z-index: 4
}

.navmenu--list_item:first-child a:hover:before {
    display: none
}

.st-active-menu:after {
    background: url("../images/header_menu_active.png") no-repeat
}


.popover {
    font-size: 14px;
    position: absolute;
    left: -9999px;
    top: 0;
    pointer-events: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 350px;
    padding: 15px 40px 20px 30px;
    line-height: 18px;
    background-color: #fff;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, .2);
    border-left: 6px solid #c42834
}

.submenu--wide {
    min-width: 700px
}

.submenu--wide ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px
}

.no-csscolumns .submenu--wide li {
    width: 50% !important;
    margin-right: -4px;
    vertical-align: top
}

.popover h4 {
    font-size: 16px;
    font-weight: bolder;
    margin: 15px 0 5px;
    padding: 0
}

.popover h4:first-child {
    margin-top: 0
}

.popover li {
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 16px
}

.popover li:before {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 10px;
    content: '•';
    color: #333
}

.popover li:hover:before {
    color: #c52935
}

.popover li a {
    display: inline-block;
    padding: 10px 0;
    color: #333
}

.popover li a:hover {
    color: #c52935
}

#submenu-hydraulic-systems{

}



